.vault {
    position: relative;
    background: $color-beige-200-12;
    padding-top: 100px;
    padding-bottom: clamp(40px, calc(20px + 6.25vw), 100px);

    @media (min-width:992px) {
        padding-right: 104px;

    }

    @media (max-width: 767.98px) {
        padding-top: 90px;
    }




    .vault__panel {
        display: none;
    }

    .vault__panel.active {
        display: block;
    }


    &__container {
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 536fr 513fr;

        gap: clamp(50px, 15.3vw, 197px);

        align-items: start;


        @media (max-width: 992px) {
            grid-template-columns: 1fr;
            place-items: center;
            gap: 50px;
        }

        /*@media (max-width: 768px) {
            .vault__right {
                margin-left: auto;
            }
        }*/
    }

    /* LEFT */

    &__left {
        position: relative;
        display: flex;
        align-items: end;
        height: 100%;

        @media (min-width: 992px) and (max-width: 1100px) {
            align-items: center;
        }
    }



    &__bg-icon {
        position: absolute;
        top: 0;
        left: -35px;
        width: 363.28px;
        height: 178.26px;

        background-size: contain;
        opacity: 0.05;
        pointer-events: none;

        @media (max-width:991.98px) {
            width: 263.28px;
            height: 130.26px;
        }

        @media (max-width:560px) {
            width: 163.28px;
            height: 80.26px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        font-family: 'Urbanist', sans-serif;

        font-size: 56px;

        font-weight: 400;
        line-height: 1.1;
        color: $color-gray-700;
        margin-bottom: 28px;

        @media (max-width:1400px) {
            font-size: clamp(32px, 3.33vw, 56px);

        }

    }

    &__button {
        display: inline-flex;
        width: fit-content;
        padding: 11.5px 24px;
        background: $black;
        color: $white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        transition: all 0.3s ease;
        font-family: $secondary-font;
        height: 40px;

        @media (max-width: 991.98px) {
            display: flex;
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            justify-content: center;
            height: auto;
        }


        &:hover {
            background: #222;
            transform: translateY(-2px);
        }
    }

    &__card-heading-icon-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;


        img {
            width: 42px;
            height: 28px;
        }
    }

    /* RIGHT */

    &__tabs {
        width: 91%;
        display: flex;
        position: relative;
        gap: 30px;
        margin-bottom: 48px;
        border-bottom: 1px solid #ccc;

        .vault__tab {
            font-family: 'Urbanist', sans-serif;
            text-align: left;
            padding-left: 16px;
            flex: 1;
            background: none;
            border: none;
            padding: 8px 0;
            padding-left: 16px;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: 0px;
            color: rgba(114, 114, 114, 0.6);
            cursor: pointer;
            position: relative;

            @media (max-width: 430px) {
                padding-left: 0;
            }

            &.active {
                color: rgba(60, 57, 57, 1);

                /*&::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 2px;
                    background: #d60000;
                }*/
            }
        }
    }

    .vault__indicator {
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1px;
        background: $color-primary-400;
        transition: transform 0.35s ease, width 0.35s ease;
    }


    &__media {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 40px;
        margin-bottom: 54px;

        @media (min-width:992px) and (max-width:1279.98px) {
            align-items: center;
        }

        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;

        }



    }


    .vault__video {
        border-radius: 12px;
        overflow: hidden;
        aspect-ratio: 4 / 3;
        line-height: 0;
        margin-left: -15.27px;
        position: relative;
        isolation: isolate;
        clip-path: inset(0 round 12px);

        @media (max-width:991.98px) {
            aspect-ratio: unset;
            width: 400px;
            height: 260px;
            aspect-ratio: unset;

        }

        @media (max-width:767.98px) {
            width: 346px;

            justify-self: center;
        }

    }

    .vault__video video {
        position: absolute;

        width: calc(100% + 2px);
        height: calc(100% + 2px);
        display: block;
        object-fit: cover;
        object-position: center;
        transform: translateZ(0) scale(1.02);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: inherit;

        @media (max-width:991.98px) {
            width: 100%;
            height: 100%;

        }

        @media (max-width:767.98px) {
            margin-left: 20px;
        }
    }


    &__card {

        position: relative;
        background: $vault-card-bg;
        padding: 24px 20px;
        border-radius: 8px;
        max-width: 204px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

        z-index: 1;

        @media (max-width:767.98px) {
            margin-right: 15px;
            justify-self: center;
        }

        h4 {
            font-weight: 510;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: -0.01em;
            margin-bottom: 0;
            color: $color-gray-750;
            font-family: $secondary-font;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2;
            letter-spacing: -0.01em;
            margin-bottom: 12px;
            color: rgba(60, 57, 57, 0.8);
            font-family: $secondary-font;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 6px;
            margin-bottom: 0;

            li {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.4;
                letter-spacing: -0.01em;
                color: $color-gray-400;
                font-family: $secondary-font;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 8px;
            background: #f2eaea;
            z-index: -1;
        }

        &::before {
            transform: translateX(12px);
            opacity: 0.6;
            top: 8px;
            bottom: 8px;
        }

        &::after {
            transform: translateX(24px);
            opacity: 0.3;
            top: 16px;
            bottom: 16px;
        }
    }


    &__description {
        font-weight: 400;
        font-size: 14px;
        color: $color-gray-500;
        line-height: 1.4;
        max-width: 456px;
        font-family: $secondary-font;
        margin-bottom: 15px;
    }




}